<!DOCTYPE html>
%html
  %head
    +include 'app/haml/shared/_head.haml'
  %body
    .navbar-transparent
      .container
        %h1.text-center Kiosk
    .login__content.login__content--fullscreen
      .login__block
        -#.alert.alert-danger
        .login__form
          - pages = ['catalog.html', 'product.html', 'cart.html', 'checkout.html']
          - for page of pages
            - page = pages[page]
            %h3
              %a{href: "#{page}"}
                = page

    .navbar-transparent
      .container
        %h1.text-center Citycicle
    .login__content.login__content--fullscreen
      .login__block
        -#.alert.alert-danger
        .login__form
          - pages = ['catalog_cc.html']
          - for page of pages
            - page = pages[page]
            %h3
              %a{href: "#{page}"}
                = page
    .navbar-transparent
      .container
        %h1.text-center ReactCategories
    .login__content.login__content--fullscreen
      .login__block
        -#.alert.alert-danger
        .login__form
          - pages = ['react-categories.html']
          - for page of pages
            - page = pages[page]
            %h3
              %a{href: "#{page}"}
                = page
