<!DOCTYPE html>
%html
  %head
    +include 'app/haml/shared/_head.haml'
  %body
    .navbar-transparent
      .container
        %h1.text-center Kiosk
    .login__content.login__content--fullscreen
      .login__block
        -#.alert.alert-danger
        .login__form
          - pages = ['catalog.html', 'product-list.html', 'product-group.html', 'children-products.html', 'menu-top-1.html', 'menu-top-2.html', 'product.html', 'product-doesnt-sell.html', 'product-weight.html', 'product-no-goods.html', 'product-multi-select.html', 'cart-empty.html', 'cart-select-package.html', 'cart-with-package.html', 'checkout.html', 'checkout-no-coupon.html', 'wishlist.html', 'categories-sample.html', 'categories-empty.html', 'categories-filter-dirty.html']
          - for page of pages
            - page = pages[page]
            %h3
              %a{href: "#{page}"}
                = page

    .navbar-transparent
      .container
        %h1.text-center Citycicle
    .login__content.login__content--fullscreen
      .login__block
        -#.alert.alert-danger
        .login__form
          - pages = ['catalog_cc.html']
          - for page of pages
            - page = pages[page]
            %h3
              %a{href: "#{page}"}
                = page
    .navbar-transparent
      .container
        %h1.text-center ReactCategories
    .login__content.login__content--fullscreen
      .login__block
        -#.alert.alert-danger
        .login__form
          - pages = ['error_page.html']
          - for page of pages
            - page = pages[page]
            %h3
              %a{href: "#{page}"}
                = page
